/* 共通 */

body {
    background: #fff;
    color: #7F7F81;
    font-family: "Zen Maru Gothic", sans-serif;
    font-style: normal;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}


/* ---------- header ---------- */

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

#header img {
    height: 50px;
}

#header ul {
    display: flex;
    gap: 24px;
    list-style: none;
}

#header a {
    text-decoration: none;
    color: #7F7F81;
}

/* ---------- MV ---------- */

.mv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 左 */

.mv-left {
    width: 45%;
    position: relative;
}


/* 動画 */

.mv-video {
    width: 60%;
    margin-left: 80px;
    margin-bottom: 100px;
}

/* 右 */

.mv-right {
    width: 50%;
}

.mv-right img {
    width: 100%;
}

/*consept*/

.section-title {
    text-align: center;
    margin-top: 50px;
}

.concept-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 60px;
    
}

.concept-card {
    display: inline-block;
}

.concept-card h2 {
    display: inline-block;
    background: #FFD6E7;
    color: #fff;
    padding: 20px 55px;
    border-radius: 70px;
    line-height: 1.5;
    min-width: 320px;
    text-align: center;
    position: relative;
}

.concept-card h2::after {
    content: "";
    position: absolute;
    inset: -8px;
    background: #FFD6E7;
    border-radius: 999px;
    filter: blur(10px);
    opacity: .5;
    z-index: -1;
}

.concept-card p {
    text-align: center;
    margin-top: 30px;
}

/* ---------- ABOUT ---------- */

.about {
    padding: 140px 0;
}

.about-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

.about-image {
    flex: 1;
}


.about-image img {
 width: 100%;
border-radius: 30px;
display: block;
}

.about-text {
flex: 1;
}


.about-text h2 {
font-size: 32px;
margin-top: 20px;
margin-bottom: 20px;
color: #7F7F81;
 margin-bottom: 32px;
}

.about-text p {
    line-height: 2.2;
    color: #7F7F81;
    margin-bottom: 18px;
}

.about-buttons{
    display: flex;
    gap: 16px;
    margin-top: 40px;
}

.about-btn{
    display: inline-block;
    padding: 16px 40px;
    border-radius: 999px;

    background: #FFD6E7;
    color: #fff;
    text-decoration: none;
    font-weight: 700;

    transition: .3s;
}

.about-btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(255,214,231,.6);
}

.about-btn.sub{
    background: #fff;
    color: #7F7F81;
    border: 1px solid #FFD6E7;
}

/* ---------- PROJECTS---------- */

.projects{
    padding:140px 0;
}

.projects-wrapper{
    display:flex;
    justify-content:space-between;
    gap:50px;
}

.project-card{
    flex:1;
    text-align:center;
}

.project-card img{
    width:100%;
    transition:.3s;
}

.project-card img:hover{
    transform:translateY(-5px);
}

.project-card h3{
    margin-top:20px;
    margin-bottom:20px;
    font-size:16px;
}

.detail-btn{

    display:inline-block;

    background:#D6F0FF;

    color:#fff;

    text-decoration:none;

    padding:10px 35px;

    border-radius:999px;

    transition:.3s;
}

.detail-btn:hover{

    transform:translateY(-2px);

    background:#D6F0FF;
}

/*Contact*/
.contact{
    position: relative;
    overflow: hidden;

    text-align:center;
    padding:160px 0;
}

.contact::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("img/suisai.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: blur(10px);
    transform: scale(1.1);
    z-index: -2;
}

.contact::after{
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(
        ellipse at center,
        rgba(255,255,255,0) 50%,
        rgba(255,255,255,0.9) 100%
    );
z-index: -1;
}

.contact-text{

    line-height:2;

    margin:50px 0;
}

.line-btn{
    display:inline-block;
    background:#FFD6E7;
    color:#fff;
    text-decoration:none;
    padding:20px 70px;
    border-radius:999px;
    font-weight:700;
    transition:.3s;
}

.line-btn:hover{
    background:#ffc3db;
    transform:translateY(-3px);
    box-shadow:0 8px 20px rgba(0,0,0,.12);
}


/*Footer*/

footer{

    padding:80px 0 40px;
}

footer img {
    height: 50px;
}

.footer-inner{

    display:flex;

    justify-content:space-between;

    align-items:center;
}

.footer-inner ul{

    display:flex;

    gap:30px;

    list-style:none;
}

.footer-inner a{

    text-decoration:none;

    color:#777;
}

.copyright{

    text-align:right;

    margin-top:30px;
    margin-right: 30px;

    font-size:12px;
}
